body {
  background-image: url(ceuNoturno.jpg);
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Mukta', sans-serif;
}

.conteudo {
  color: #ffffff;
  background-color: #ffffff49;
  text-align: center;
  font-size: 25px;
  padding: 35px;
}
.escolha {
}

footer {
  color: #ffffff;
  background-color: #ffffff49;
  text-align: center;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#imagemApi {
  margin-left: auto;
  margin-right: auto;
  width: 25em;
  display: block;
  margin-top: 150px;
}

#infApi {
  color: #ffffff;
}
p {
  color: white;
  text-align: center;
  margin-top: 40px;
}
input {
  border-radius: 10px;
  background-color: #ffffff73;
}
button {
  border-radius: 10px;
  background-color: #ffffff86;
  font-size: 15px;
}
